$font-azul: #0071BC;
$font-azul-claro: #29ABE2;

h1{
    color: #fff;
}
.top-header{
    
    background: $font-azul;

    .col-md-7, .col-md-5{
        height: 50px;
        display: flex;
        align-items: center;
    }
    .col-md-5{
        justify-content: flex-end;
    }
    .col-md-7{
        flex-direction: column;
        height: 50px;
        line-height: 50px;
    }
    .bagde-list{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        li{
            margin-left: 10px;
            &:first-child{
                margin-left: 0;
            }
        }
        .badge-top{
            background: #fff;
            color: $font-azul;
            padding: 5px 15px;
            border-radius: 5px;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            height: 35px;
            position: relative;
        }
        a span{
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-style: italic;
            font-weight: 600;
        }

    }

}

.header-blog{
    

    .menu-header{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        li a{
            color: #000;
            font-family: "Montserrat";
            font-size: 1.4em;
            display: block;
            padding: 0 7px;
            transition: all .5s linear;
            &:hover{
                color: $font-azul;
                transition: all .5s linear;
            }
            i{
                line-height: 55px;
            }
        }
        li a.button-cta{
            font-weight: bold;
            color: #fff;
            border-radius: 15px;
            padding: 15px 35px;
            background: linear-gradient(to bottom right, $font-azul, $font-azul-claro);
            transition: all .5s ease-in-out;
            &:hover{
                background: linear-gradient(to bottom right, $font-azul-claro, $font-azul); 
                color: #fff;
                transition: all .5s ease-in-out;
            }
        }
    }

    .col-md-3, .col-md-9{
        height: 95px;
        display: flex;
        align-items: center;
    }

}

#menu-menu-topo{
    
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
    li a{
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-size: .9em;
        padding: 0 5px;
        display: block;
        border-left: thin solid #fff;
        &:hover{
            color: $font-azul-claro;
        }
    }
    li:first-child a{
        border-left-color: transparent;
    }
}
.recent-posts-wp{
    display: flex;
    .box-recent-posts{
        display: block;
        width: 100%;
        margin: 5px 0;
        .box-image{
            width: 100px;
            height: 100px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            float: left;
            margin-right: 15px;
            .contador{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                position: relative;
                left: -15px;
                background: linear-gradient(to bottom right, $font-azul, $font-azul-claro);
                text-align: center;
                font-family: "Roboto";
                font-weight: bold;
                line-height: 32px;
                font-size: 18px;
                color: #fff;
                border: 3px solid #fff;
            }
        }
        .descricao{
            height: 100px;
            display: flex;
            align-items: center;
            h4, h4 a{
                font-family: "Montserrat";
                color:#444;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                &:hover{
                    color: $font-azul-claro;
                }
            }
        }
    }
}