$font-azul: #0071BC;
$font-azul-claro: #29ABE2;
.bottom-posts{
    padding: 20px 0;
    .col-md-3{
        margin: 20px 0;
    }
    strong a{
        color: $font-azul;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: .9em;
        display: block;
        margin: 10px 0;
    }
    h4 a{
        font-family: "Montserrat";
        color: #333;
        font-weight: 600;
        font-size: .8em;
        line-height: 20px;
        display: block;
        margin: 10px 0;
    }
    span{
        color: #777;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        a{
            color: $font-azul-claro;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}