$font-azul: #0071BC;
$font-azul-claro: #29ABE2;
.colunistas{
    padding:40px 0;
}
.colunista-box{
    padding: 30px;
    border: 5px solid #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    margin: 20x 0;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 10px 20px rgba(255, 195, 195, 0.09);
    }

    img{
        border-radius: 50%;
        margin-right: 10px;
    }

    h4{
        
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.4em;
        text-transform: uppercase;
        a{
            color: $font-azul-claro;
            display: block;
            &:hover{
                color: $font-azul;
            }
        }
    }
    p{
        font-family: "Roboto";
        color: #444;
        font-size: 1em;
        display: block;
        padding: 5px 0;
    }
    .btn-colunista{
        background: linear-gradient(to top right, $font-azul, $font-azul-claro);
        padding: 7px 15px;
        border-radius: 5px;
        color: #fff;
        font-family: "Montserrat";
        font-weight: bold;
        transition: all .5s linear;
        &:hover{
            background: linear-gradient(to top left, $font-azul-claro, $font-azul);
            transition: all .5s linear;
        }
    }
}
.title-section{
    font-size: 28px;
    font-family: "Roboto Condensed", sans-serif;
    color: #444;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.clear{
    clear: both;
}