$font-azul: #0071BC;
$font-azul-claro: #29ABE2;
.contato{
    padding: 30px 0;
    background: #fff;
    h1{
        font-size: 28px;
        font-weight: 400;
        font-family: "Roboto Condensed";
        color: #444;
        padding-bottom: 20px;
    }
    .button-form{
        padding: 15px 35px;
        transition: all .5s linear;
        &:hover{
            padding: 15px 40px;
            transition: all .5s linear;
        }
    }
}
.form-control{
    height: 45px;
    box-shadow: none !important;
    background: #f4f4f4;
    border: 0;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 16px;
    color: #333;
    resize: none;
}