$font-azul: #0071BC;
$font-azul-claro: #29ABE2;
.button-form{
    padding: 5px 15px;
    border: 0;
    background: linear-gradient(to bottom right, $font-azul, $font-azul-claro);
    border-radius: 5px;
    font-weight: bold;
    font-family: "Montserrat";
    color: #fff;
}
.footer{
    background: #002B4D;
    padding: 60px 0;
    img{
        padding-bottom: 20px;
        display: block;
        margin: 0 auto;
    }
    h3{
        font-size: 18px;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    p{
        font-family: "Roboto";
        color: #fff;
        font-size: 14px;
        .tel a{
            color: $font-azul-claro;
            font-weight: 600;
        }
        .email a{
            color:$font-azul-claro;
            font-weight: 600;
        }
    }
    .form-control{
        height: 45px;
        box-shadow: none !important;
        border: none;
    }
    
}
.copy{
    background: #012238;
    padding: 15px 0;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        li, li strong{
            font-family: "Roboto Condensed";
            color: #fff;
            font-weight: 400;
        }
    }
}