$font-azul: #0071BC;
$font-azul-claro: #29ABE2;

.menu-list-top{
    ul{
        width: 100%;
        height: 50px;
        border-top: thin solid #f4f4f4;
        border-bottom: thin solid #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        li a{
            font-family: "Roboto Condensed", sans-serif;
            text-transform: uppercase;
            color: #4C4C4C;
            font-size: 15px;
            font-weight: 400;
            
        }
        li.active a{
            color: $font-azul;
        }
        li:hover ul{
            margin-top: 10px;
            opacity: 1;
            transition: all .5s ease-in-out;
        }
        li ul{
            transition: all .5s ease-in-out;
            display: block;
            opacity: 0;
            position: absolute;
            width: 200px;
            background: $font-azul;
            height: auto;
            padding: 20px;
            z-index: 99;
            margin-top: 20px;
            border: 0;
            li a{
                color: #fff;
                font-weight: bold;
                font-size: 1em;
                padding: 5px 0;
                display: block;
                border-bottom: thin dashed $font-azul-claro;
                &:hover{
                    color: $font-azul-claro;
                }
            }
        }
    }
}