$font-azul: #0071BC;
$font-azul-claro: #29ABE2;

.sidebar{
    h2{
        font-size: 25px;
        font-family: "Roboto Condensed", sans-serif;
        color: #444;
        text-transform: uppercase;
        display: block;
        margin: 30px 0;
        font-weight: bold;
    }
}
.social-cards{
    width: 100%;
    ul{
        display: flex;
        flex-direction: column;
        li a{
            text-transform: capitalize;
            font-family: "Montserrat";
            color: #fff;
            font-weight: bold;
            height: 35px;
            padding-left: 20px;
            border-radius :5px;
            display: block;
            text-align: left;
            width: 100%;
            background: linear-gradient(to bottom right, $font-azul, $font-azul-claro);
            margin: 5px 0;
            line-height: 35px;
            &::before{
                content: '';
                display: block;
                width: 0;
                height: 35px;
                background-color: rgba(255,255,255,.1);
                position: absolute;
                left: 0;
                transition: all .3s ease-in-out;
            }
            &:hover::before{
                width: 100%;
            }
        }
    }
}

.top-ads{
    img{
        width: 100%;
    }
}