@import url('bootstrap/css/bootstrap.min.css');
@import url('bootstrap/css/bootstrap-theme.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto+Condensed:300,400,700|Roboto:300,400,700');
@import url('owl.carousel.min.css');
*{
    margin: 0;
    padding:0;
    list-style-type: none;
    text-decoration: none !important;
    outline: none;
}
h1,h2,h3,h4,h5,h6,strong,label,a,b,span,i, ul{
    margin: 0;
    padding: 0;
}